In [40]:
x = 1
y = 2
z = x + y
print(z)

3

In [41]:
slice_this_phrase = "dog cat racoon"

A_1 = slice_this_phrase[:3]
A_2 = slice_this_phrase[4:7]
A_3 = slice_this_phrase[8:]
print(A_1)
print(A_2)
print(A_3)
backf = slice_this_phrase[-1::-1]
print(backf)

dog
cat
racoon
noocar tac god

In [42]:
x = 1
y = 4
w = "ooop"
List_T = ["pink","blue"]

List_one = [x,y,w,List_T]
#print(List_one)
colours = ['red', 'yellow', 'car']
print(colours)
colours.append('addthisC')
print(colours)

['red', 'yellow', 'car']
['red', 'yellow', 'car', 'addthisC']

In [43]:
x = 5
y = 10
z = x + y
print(z) # print is a function that, for our simple purposes, will show you in the terminal (or on the page in Jupyter) the data stored in a variable
j = y / x
print(j)
print(type(j)) # printing the type of a variable tells us what data is stored in it, floats are numbers with decimals
j = int(j)
print((type(j))) # we can also convert j to an integer, and check its worked by printing its new type

15
2.0
<class 'float'>
<class 'int'>

In [44]:
# In this cell, initialise two numeric variables and find their product using the * operator for multiplication and assign this to a new variable.
# Print the new variable

# The radius of a circle is 2, assume that Pi is 3.14. Assign both of these to suitably named variables and find the area of the circle.
# We can find the area of a circle by finding the product of Pi with the radius squared.
# You probably don't know hs yet, so use Google to work it out!

r = 2
q = r*r
p = 3.14
s = r**q
print(s)

16

In [45]:
job = "dd"
name = "SS"

name_job = f"{name}ffffffffffff {job}"
print(name_job)

SSffffffffffff dd

In [46]:
S = 9
i = 9
Y = S * i
print(Y)

81

In [47]:
colours_list = ['red', 'blue', 'green']
print(colours_list)
colours_list.append('purple') 
print(colours_list)
extra_colours = ['turquoise', 'teal']
# colours_list.append(extra_colours)
# You can see here it's appended the whole list extra_colours as one item in the list
print(colours_list) 
colours_list.extend(extra_colours)
print(colours_list)
print(colours_list[4:4])

['red', 'blue', 'green']
['red', 'blue', 'green', 'purple']
['red', 'blue', 'green', 'purple']
['red', 'blue', 'green', 'purple', 'turquoise', 'teal']
[]

In [48]:
numbers_list = [2,3,4,5,1,6,1]
# we can sort lists too, here using a method
# numbers_list.sort() 
# print(numbers_list)
numbers_list.sort(reverse=True)
print(numbers_list) 
colours_list = ['red', 'blue', 'green', 'zamber']
sorted_colours = sorted(colours_list, key=str.lower, reverse=True)
#sorted_colours.sort(reverse=False)
print(sorted_colours)

[6, 5, 4, 3, 2, 1, 1]
['zamber', 'red', 'green', 'blue']

In [5]:
favourite_colours = {'Will':'teal',
                     'Andy':['Purple', 'Green', 'Azure'],
                     'Annie':{'Mondays':'Red',
                              'Sundays':'Orange',
                              'Other days':'Black'}}
# Here you can see I've stored strongs, lists, and even entire dictionaries inside strings                              
# print(favourite_colours) 
print(list(favourite_colours)) # list(d) will print the keys, in order from a dictionary
print(favourite_colours.items()) # Prints all key:value pairs
print(favourite_colours.keys()) # Prints all keys
print(favourite_colours.values()) # Prints all values

['Will', 'Andy', 'Annie']
dict_items([('Will', 'teal'), ('Andy', ['Purple', 'Green', 'Azure']), ('Annie', {'Mondays': 'Red', 'Sundays': 'Orange', 'Other days': 'Black'})])
dict_keys(['Will', 'Andy', 'Annie'])
dict_values(['teal', ['Purple', 'Green', 'Azure'], {'Mondays': 'Red', 'Sundays': 'Orange', 'Other days': 'Black'}])

In [22]:
Food_shop = { 'macs': 'junk',
             'vada' : ['tasty junk','very hot'],
             'cost' : {'T':5,'S':6,'d':7,'e':99}}
#print(Food_shop.keys())
get_mac = Food_shop['macs']
print(get_mac)

junk

In [25]:
import pandas as pd 
file_test = 'https://raw.githubusercontent.com/data-to-insight/csc-validator-be-903/main/tests/fake_data/header.csv'

test_header = pd.read_csv(file_test)
print(test_header.head())

    CHILD  SEX         DOB ETHNIC            UPN  MOTHER MC_DOB
0  566910    2  27/03/2008   WROM  D051910639385     NaN    NaN
1  384923    2  09/09/2011   REFU  L034811502612     NaN    NaN
2  709901    1  14/02/2013   ABAN  Y021751958510     NaN    NaN
3  550084    2  04/05/2008   AOTH  R095578985099     NaN    NaN
4  710229    2  15/04/2002   REFU  Z095096287583     NaN    NaN

In [19]:
import pandas as pd
df_one = pd.DataFrame([
{'s1': 7,
 's2':'ww',
 's3' : 'ttt'},
 {'s1': 72,
 's2':'ww2',
 's3' : 'ttt2'},
 {'s1': 73,
 's2':'ww3',
 's3' : 'ttt3'}

])
print(df_one)

   s1   s2    s3
0   7   ww   ttt
1  72  ww2  ttt2
2  73  ww3  ttt3